<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automationpractice.testcases.SignInExcelsheet"/>
      <class name="com.automationpractice.testcases.SingInTest"/>
      <class name="com.automationpractice.utilities.WebdriverManagerConfig"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
